<section class="about">
  <h2 class="about__title">Philosophy of our company</h2>
  <p class="about__text">
    Residential complex “Nice view” is an island of tranquility, security and
    comfort. In our project, we created the opportunity to lead a measured life
    in the very center of the city.
  </p>
  <ul class="about__list">
    <li class="about__item">15 years of experience</li>
    <li class="about__item">30 thousand happy residents</li>
    <li class="about__item">22 houses built</li>
    <li class="about__item">9 awards</li>
  </ul>
</section>